<div class="presentation">
  <h1><strong>BB Investimentos API</strong></h1>
  <h3>A RESTful API para todos os fundos de investimento do Banco do Brasil</h3>
</div>

<div class="description">
  <h4>Obtenha de forma fácil e rápida informações relativas a todos os fundos de investimento do BB! São dezenas de dados de cada fundo para você
    utilizar no desenvolvimento de suas aplicações.</h4>
</div>

<div class="trial">
  <h3>Experimente agora!</h3>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">http://localhost:8080/api/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="route">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-click="enviar()">Enviar</button>
    </span>
  </div>
  <span class="tip">Dica: Tente <strong>fundos/</strong> ou <strong>fundos/1/</strong> ou <strong>fundos/BBRFCP200/</strong></span>
  <div class="form-group">
    <label for="comment">Resultado:</label>
    <samp>
    <textarea class="form-control" rows="15" id="comment" readonly="" ng-model="result">
      {{result}}
    </textarea>
  </samp>
  </div>
</div>

<div class="powered">
  <h4>Powered by</h4>
  <a href="http://www.heroku.com" target="_blank"><img alt="Heroku" src="img/heroku_logo.png"/></a>
</div>
