<div class="presentation">
  <h1><strong>Sobre a BB Investimentos API</strong></h1>
</div>

<div class="panels">

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>O que é uma RESTful API?</strong></div>
    <div class="panel-body">
      <p>
        Uma RESTful API define uma coleção de funções que podem ser utilizadas para realizar
        requisições e receber respostas via protocolo HTTP. Dessa forma, desenvolvedores podem
        interagir com aplicações de terceiros para obter informações que serão utilizadas em
        suas próprias aplicações.
      </p>
      <p>
        No caso da BB Investimentos API, os desenvolvedores podem interagir com um banco de dados que
        contém dezenas de informações sobre mais de 40 fundos de investimento do Banco do Brasil.
      </p>
  </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Quais informações posso obter e em qual formato?</strong></div>
    <div class="panel-body">
      <p>
        São cerca de 30 dados que podem ser obtidos de cada fundo. Alguns deles são:
        <ul>
          <li>Nome do fundo</li>
          <li>Categoria</li>
          <li>Rentabilidade (diária, mensal e anual)</li>
          <li>Histórico de cotações</li>
          <li>Taxa de administração</li>
          <li>Grau de risco</li>
        </ul>
        Para a lista completa consulte a documentação da BB Investimentos API.
      </p>

      <p>
        Ao realizar uma requisição com sucesso, o desenvolvedor receberá uma resposta com os dados
        de um fundo em formato JSON. Dessa forma, ele poderá facilmente acessar essas informações e
        incorporá-las em suas aplicações, independente da linguagem que estiver usando.
      </p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>De onde vem todos os dados?</strong></div>
    <div class="panel-body">
      <p>
        Todos os dados estão publicamente disponíveis no próprio site do Banco do Brasil. A nossa API
        simplesmente reune todos eles de forma estruturada em um banco de dados para que possam ser
        facilmente utilizados por todos os desenvolvedores interessados.
      </p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Quem é o responsável pelo desenvolvimento?</strong></div>
    <div class="panel-body">
      <p>
        A BB Investimentos API foi criada por <a href="https://br.linkedin.com/in/hcgustavo" target="_blank">Gustavo Henrique Caixeta</a> como um projeto pessoal.
        O Banco do Brasil não está envolvido de nenhuma forma com esse projeto.
      </p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Quais tecnologias estão envolvidas no desenvolvimento?</strong></div>
    <div class="panel-body">
      <p>
        <ul>
          <li>Implementação da API: Node.js, Express e Mongoose</li>
          <li>Banco de dados: MongoDB </li>
          <li>Web Front-end: AngularJS</li>
          <li>Hospedagem da aplicação: Heroku</li>
        </ul>
      </p>
    </div>
  </div>

</div>
